/*! =========================================
/*!        Allgemeines                     
/*!========================================= */

@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: roboto_bold;
    src: url("../fonts/Roboto-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* background-color: bisque; */
}

body {
    font-family: roboto;
    text-align: center;
}

img {
    width: 20%;
}



/*TODO =========================================
/*TODO        Header                     
/*TODO========================================= */

header {
    display: flex;
    flex-direction: column;
}

.blueIMG {
    width: 100%;
    max-width: 100%;
}

.section_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0rem;
}

.section_logo img {
    width: 8%;
}

.p_DesignProject {
    font-family: roboto_bold;
}

.p_WebDesigner {
    text-align: left;
    font-size: 1rem;
}

.p_scroll {
    margin-top: 3rem;
    color: #F99CBC;
}

header article {
    margin: 0 1rem;
}

header article p {
    margin: 1rem 0;
}

/** =========================================
/**        Main                     
/**========================================= */
main {
    padding: 0 1.5rem;
}

.first_section {
    width: 100%;
}

.first_section img {
    width: 100%;
}

main h2 {
    margin: 1rem 0;
}

main article {
    margin: 5rem 0;
}

main article p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.section_titles p:nth-of-type(1) {
    font-family: roboto_bold;
    margin-bottom: 0.5rem;
}

/* ====== */

.allSections_articleAndImg p:nth-of-type(1) {
    color: #DDDDDD;
    font-size: 2rem;
}

.allSections_articleAndImg p:nth-of-type(2) {
    font-family: roboto_bold;
    margin-bottom: 0.5rem;
}

.img_big {
    width: 100%;
    margin-top: 10rem;
}

.img_icons {
    width: 35%;
}

/*? =========================================
/*?        Footer                     
/*?========================================= */

footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

footer section button {
    padding: 0.5rem 1.5rem;
    color: #fff;
    background-color: #ff3571;
    border: none;
}

footer section input {
    border: none;
    padding: 0.5rem 3rem;
    box-shadow: 0 0 1rem grey;
}

footer div {
    margin: 3rem 0 1rem 0;
}

/*? =========================================
/*?        Media Queries Desktop               
/*?========================================= */


@media only screen and (min-width: 600px) {

    body {
        text-align: left;

    }



    header {
        padding-left: 3rem;

    }

    .p_DesignProject {
        font-size: 2rem;
    }

    .section_logo {
        order: 1;
        translate: -38% -42rem;
    }


    .section_logo img {
        width: 5%;
    }

    .blueIMG {
        width: 60%;
        translate: 67%;
    }

    header article {
        order: 2;
        translate: 0 -35rem;
        width: 70%;
    }

    header article p {
        width: 50%;
    }

    header h1 {
        font-size: 4rem;
        width: 55%;
    }

    /* ==== Main ===== */

    main {
        padding: 0 5rem;
        overflow: hidden;
    }

    .p_scroll {
        margin-top: 18rem;
    }

    .article_everyIdea {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }

    .article_everyIdea p {
        width: 50%;
    }

    .article_everyIdea h2 {
        width: 25%;
    }

    main p {
        line-height: 2;
    }

    main h2 {
        font-size: 3rem;
    }

    .article_withOnlyH2 {
        width: 50%;
    }

    /* ====== section_titles ========== */

    .section_titles {
        display: flex;
    }

    .section_titles div {
        display: flex;
        flex-direction: column;
    }

    .div_startAsking {
        width: 100%;
        translate: 10%;
    }

    main article p {
        flex-direction: row;
        width: 70%;
    }

    .pWithImg {
        translate: -14%;
    }

    .pWithImg img {
        width: 10%;
    }

    .img_icons {
        width: 10%;
    }

    .img_big {
        width: 50%;
    }

    .section_findYourProblem {
        display: flex;
        align-items: center;
        gap: 5rem;
        margin-bottom: 5rem;
    }

    .order1 {
        order: 1;
    }

    /* ======= Animation =========== */

    .flyingMan {
        width: 40%;
        position: absolute;
        translate: 150%;
        overflow: hidden;

    }

    .animation {
        animation-timing-function: linear;
        animation-duration: 7s;
        animation-name: man;
        animation-iteration-count: infinite;
    }

    @keyframes man {

        0% {
            translate: 150% -100px;
        }

        50% {
            translate: 150% 200px;
        }

        100% {
            translate: 150% -100px;
        }
    }


    /* ======= Footer =========== */
    footer {
        padding: 3rem;

    }
}